body{
    margin-top: 150px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: rgb(85, 85, 85);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
ul{
    list-style: none;
    color: #fff;
    font-size:x-large;
    position: relative;
    margin-top: 20px;
    margin-right: 50px;
}

h2{
    color: #fff;
    position: relative;

}
h3{
    color: #fff;
    position: relative;
}


.checked {
    text-decoration: line-through;
    color: rgb(31, 26, 26);
}
.quadrado{
    background-color: rgba(19, 19, 19, 0.3);
    position: fixed;
    text-align: flex;
    padding: 100px;
    width: 160px;
    border-radius: 10%;
    margin-left: 470px;
    margin-top: -10px;
}
.absoluto{
    position: absolute;
}

