<style>
    body {
        background-color: #a366ce;
        overflow: hidden;
    }

    .navbar-nav {
        background-color: #a13887;
    }

    .bg-roxo {
        background-color: #865ca3;
    }


    .imagemDeFundo {
        background: url('https://nfpet.com.br/blog/wp-content/uploads/2018/09/21-09-750x410.png') no-repeat;
        width: 2000px;
        height: 1000px;
        margin-left: 190px;
    
    }

    .quadrado {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC');
        width: 270px;
        height: 160px;
        margin-top: 80px;
        margin-left: 20px;
        position: absolute;
        opacity: 65%;
        border-radius: 25px;
        text-align: center;
        text-align: ;
    }

    .cor {
        color: rebeccapurple;
        text-decoration: none;
        font-size: 25px;
        padding-top: 20px;
    }
    .desce{
        height: 100px;
        opacity: 0%;
        }
</style>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>PetWise</title>
</head>

<body>
    <div>
  <img class="desce" src="https://cdn.discordapp.com/attachments/1104126427474956370/1121960876761694338/pooh.jpg" alt="">
    </div>
    <div class="container">
        <div class="imagemDeFundo">
            <div class="quadrado">
                <br>
                <br>
            <a href="/petwise/cadastrodono" class="cor">Cadastre-se</a>
                <br>
            <a href="/petwise" class="cor">Login</a>
            </div>
        </div>
    </div>
</body>
<!DOCTYPE html>

</html>