
body{
    font-family: cursive;
    text-align: center;
    background-color: rgb(255, 209, 209);
}
#img_aleatoria{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(253, 155, 155);
}

#btn_gerar{
  background-color: #e74c3c; 
  color: #ffffff; 
  border: none; 
  padding: 10px 20px; 
  font-size: 22px; 
  cursor: pointer;
  border-radius: 20px;
  font-family: cursive;
  margin-left: 100px;
}
#texto{
    background-color: #fa7c7c; 
    color: #ffffff; 
    padding: 10px 10px; 
    font-size: 22px; 
    border-radius: 20px;
    font-family: cursive;
    border-style: none;
    margin-top: -100px;

}
#gfof{
    margin-left: 1167px;
    margin-top: -1300px;
    width: 150px;
    height: 150px;
}
#pop{
    position: fixed;
    width: 200px;
    height: 200px;
    margin-top: -50px;
    margin-left: -550px;
}
#zzz{
    position: fixed;
    width: 200px;
    height: 300px;
    margin-top: -400px;
    margin-left: -650px;
}
h1{
    margin-top: -5px;
    color: crimson;
}
h2{
    margin-top: -3px;
    color: crimson;
}

ul{
  margin-top: -510px;
  margin-left: 900px;
  list-style: none;
  color: #ffffff;
  background-color: #e73ca0;
}
.botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffff;
    background-color: #ff006a;
    border-style: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  #add{
    background-color: #fa7cfa; 
    color: #ffffff; 
    padding: 5px 5px;
    border-radius: 20px;
    font-family: cursive;
    border-style: none;
    cursor: pointer;
    margin-top: -4px;
}
  